// Specific CSS for your home-page
/* Basic styling */

.header-1 {
  color: $light-shades;
}

.header-2 {
  color: $light-shades;
}

.header-3 {
  color: $light-shades;
}
.parent-container {
  display: flex;
  flex-direction: column;
}
