/* search scss */

.search-page {


  display: flex;

  align-items: center;
  height: 90vh; /* set the height to the full viewport height */

*,
*:before,
*:after {
   box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-family: 'Muli', sans-serif;
}

h1 {
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
}

.search-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}


.search-txt-input{
  padding: 12px 20px;
  font-size: 14px;
  border:1px solid #c8c8c8;
  border-right:0px;
  border-top-left-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  width: 200px;
  height: 65px;
}
.search-button {
  padding: 12px 15px;
  font-size: 16px;
  outline: none;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #c8c8c8;
  border-right: 0px;
  // background : #f45c03;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  position: relative;
  left:-5px;
  height: 65px;
  margin-top: 0px;
}




button[type='submit'] {
background-color:$primary;
color:#fff;
cursor:pointer;
}
button[type='submit']:hover {
background-color:$light-accent;
color:#fff;
cursor:pointer;
}

#standard-3 .search-txt-input {
  width: 200px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

@media (max-width: 767px) {
  #standard-3 .search-txt-input {
    width: 120px;
  }
}

#standard-3 input[type=text]:focus {
  width: 500px;
  outline: none;
}

@media (max-width: 767px) {
  #standard-3 input[type=text]:focus {
    width: 190px;
  }
}

.search-icon {
  vertical-align: middle;
}



}
