<h1>Pages#home</h1>
<i class="fa-solid fa-house"></i> <%# font awesome %>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "members", members_path  %>
<%= link_to "signup", users_new_path  %>
<%= link_to "search", search_path %>
