<div class="parent-container">
<div class="banner-container">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/westminster.jpeg);">
  <div class="banner-headers">
    <h1 class="header-1">TRANSPARENCY,</h1>
    <h1 class="header-2">ACCOUNTABILITY,</h1>
    <h1 class="header-3">DEMOCRACY.</h1>
    </div>
    <p>Liberty cannot be preserved without a general knowledge among the people, who have a right and a desire to know.</p>
    <a class="banner-btn" href="#">
      <i class="fa fa-search" aria-hidden="true"></i>
        FIND YOUR MP
    </a>
  </div>
</div>
<div class="tile-card">
  <h1>What do we do </h1>
  <%# <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis velit sed interdum pretium. Phasellus venenatis convallis enim vel gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi mattis eleifend venenatis. Aenean iaculis fringilla fringilla. Praesent auctor imperdiet nisl, non tristique tellus vulputate quis. Duis id sollicitudin nunc. Aenean ultrices turpis a ultricies cursus. Duis tempor purus metus, vitae tincidunt ex consectetur vel. Sed ut dolor viverra, pellentesque nisl ac, viverra purus. Aliquam semper, tortor id consectetur dictum, arcu sapien sodales diam, sed cursus purus orci vel urna. Duis consequat, ex eget sollicitudin aliquet, eros erat convallis enim, dictum aliquet augue dui tincidunt nibh. Suspendisse malesuada mi porta lacus dapibus, quis laoreet diam viverra. Nullam sollicitudin, dui at malesuada sodales, ipsum augue finibus tellus, quis finibus dolor mauris ac eros. </p> %>
  <div class="tiles">
  <div class="tile">
    <img class="tile-logo" src="https://cdn-icons-png.flaticon.com/512/2989/2989907.png" alt="Logo 1">
    <h2>Transparency</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="tile">
    <img class="tile-logo" src="https://cdn-icons-png.flaticon.com/512/59/59805.png" alt="Logo 2">
    <h2>Openness</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="tile">
    <img class="tile-logo" src="https://cdn-icons-png.flaticon.com/512/3165/3165964.png" alt="Logo 3">
    <h2>Together</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="tile">
    <img class="tile-logo" src="https://cdn-icons-png.flaticon.com/512/5201/5201289.png" alt="Logo 4">
    <h2>Truth</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div>
</div>
</div>
