.tiles {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: 25%;
  padding: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .tile {
    width: 100%;
  }
}

.tile-card {
  background-color: #ffffff;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #000000;
  margin: 20px auto;
}

.tile-card p {
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
}
.tile-card h1 {
  font-family: spectral;
  font-size: 22;
}
.tile-logo {
  max-width: 50px;
}
