// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
// @import "font-awesome"; commented out because error

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: $dark-shades;
}
// .container {
//   // max-width: 100;
// }

.card {
  background-color: #ffffff;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #000000;
  margin: 20px auto;
}

.card p {
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
}
.card h1 {
  font-family: spectral;
  font-size: 22;
}
