// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
// @import "font-awesome"; commented out because error

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/search";

body {
  background-color: $dark-shades;
}

body {
  font-size: 16px; /* this sets the base font size */
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px; /* this changes the font size for smaller screens */
  }
}
