<% @members.each do |member| %>

<div class="member-card">
  <img src="<%= member.thumbnail_url %>" alt="<%= member.name_display_as  %>">>
  <div class="container">
    <h4><b><%= member.name_display_as %></b></h4>
    <p><%= member.party %></p>
  </div>
</div>



<% end %>
