<div class="member-container">
<% @members.each do |member| %>

<div class="member-card">
  <div class="avatar">
    <img src="<%= member.thumbnail_url %>" alt="<%= member.name_display_as  %>">
  </div>
  <div class="title">
    <%= member.name_display_as %>
  </div>
  <div class="description">
    <%= member.party %>
  </div>
  <div class="social">
    <ul>
      <li><i class="fab fa-facebook"></i></li>
      <li><i class="fab fa-twitter"></i></li>
      <li><i class="fab fa-github"></i></li>
      <li><i class="fab fa-dev"></i></li>
      <li><i class="fas fa-link"></i></li>
    </ul>
  </div>
</div>



<% end %>
</div>
